In [ ]:
import pandas as pd
# força o pandas não omitir nenhuma coluna
pd.set_option('display.max_columns', 21)

file_path = '/content/drive/MyDrive/Unifeb/2021/Aulas/IA/algoritmos/datasets/'
file_name = 'kc_house_data.csv'

file = pd.read_csv(file_path + file_name)

file.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# excluindo features irrelevantes
# O parâmetro axis = 1 que significa irá excluir uma coluna e não uma linha
# O parâmetro inplace é usado para persistir a alteração na variável dataset
# em memória, sem ele, a alteração não seria efetivada no objeto dataset.
file.drop('id', axis = 1, inplace = True)
file.drop('date', axis = 1, inplace = True)
file.drop('zipcode', axis = 1, inplace = True)
file.drop('lat', axis = 1, inplace = True)
file.drop('long', axis = 1, inplace = True)

file.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [ ]:
# definindo variáveis preditoras e variável algo
# Ou variáveis Independentes X e dependente Y
y = file['price']
x = file.drop('price', axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split
# funcão que reparte os dados em dados de treino e dados de teste
# test_size = 0.3 tamanho dos dados de teste = 30%
# random_state = garante a mesma aleatoriedade para todos
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 10)

In [ ]:
from sklearn.linear_model import LinearRegression
# Criação do modelo de Machine Learning
model = LinearRegression()
# Alimentando o modelo com os dados Independente 'Target' e Dependentes 'Target'
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Coeficiente de Determinação R2
# O R-quadrado é uma medida estatística de quão próximos os dados estão da linha de regressão ajustada
# Ele também é conhecido como o coeficiente de determinação ou o coeficiente de determinação múltipla para a regressão múltipla.
result = model.score(x_test, y_test)
print(result)
# O resultado também pode ser chamado de acurácia (precisão), que no caso foi de 90%

0.6608668622831299